*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #333;
}

h2 {
	font-weight: bold;
	color: #333;
	font-size: 17px;
}

h2, p {
	margin: 0;
}

h2 > a {
	color: inherit;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover, a:focus {
	color: #006BA0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: block;
}

.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	margin-top: 20px;
}

.container:after {
	content: '';
	display: table;
	clear: both;
}

.column-left {
	float: left;
}

.column-small {
	width: 25%;
	padding-right: 20px;
}

.column-medium {
	width: 30%;
	padding-right: 20px;
}

.column-large {
	width: 45%;
	padding-right: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dedede;
}

.post:last-child {
	border-bottom: 0;
}

.post a {
	display: block;
}

.post_thumbnail {
	width: 100%;
	margin-bottom: 10px;
}

.post h2 span {
	color: red;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.post p {
	color: #444;
	font-size: 16px;
	margin: 10px 0;
}

.post ul.morelink li {
	font-weight: bold;
	font-size: 16px;
}

.column-large h2 {
	font-size: 28px;
	line-height: 1.2
}


.post-float .post_thumbnail {
	width: 120px;
	margin-right: 12px;
	float: left;
}

.post-float h2 {
	font-size: 15px;
}